.navbar {
  padding-left: 80px !important;
  padding-right: 80px !important;
  transition: all 0.5s;
  align-items: center;
}
.logo-top{
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    margin-right: 8px;
}
.logo-name{
    font-size: 30px;
}
.dark {
  background-color: rgb(29, 27, 27) !important;
}
.li {
  margin-bottom: 10px !important;
  text-decoration: none !important;
}
.prl {
  padding: 5px 30px !important;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.5s;
}
.prl:hover {
  color: rgba(255, 0, 0, 0.8);
}
.prl::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: rgba(255, 0, 0, 0.8);
  display: block;
  transition: all 0.5s;
}
.prl:hover::after {
  width: 100%;
}
.active {
  color: rgba(255, 0, 0, 0.8);
}
.active::after {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .prl {
    padding: 5px 20px !important;
  }
}
@media screen and (max-width: 840px) {
  .prl {
    padding: 5px 15px !important;
    font-size: 16px;
  }
}
@media screen and (max-width: 780px) {
  .navbar {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
@media screen and (max-width: 768px) {
    .navbar{
        display: block !important;
    }
    .top-right{
        display: block !important;
    }
  }
// Droppdown
.dropdown {
  right: 0;
  .dropdown-toggle,
  .dropdown-toggle:hover {
    color: rgb(255, 255, 255, 0.8);
  }
  .dropdown-menu {
    margin: 0;
    padding: 0;
    min-width: 7rem;
    text-align: center;
    top: 0;
    right: 0;
    .btn {
      right: 0;
      color: rgba(255, 0, 0, 0.4);
      transition: all 1s;
    }
    .btn:hover {
      color: rgba(255, 0, 0);
    }
  }
}

.ant-avatar {
  font-size: 20px;
  line-height: 20px;
}

.navbar {
  position: fixed !important;
  width: 100%;
  z-index: 999;
  background: rgb(0 0 0 / 60%);
}

.logo-top {
  width: 45px;
}
